@import "~@fluentui/react/dist/sass/References.scss";

.container {
  overflow: hidden;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileName {
  font-weight: 500;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.signer {
  margin-bottom: 20px;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.lanjutButton {
  width: 200px;
  background-color: #0284c7;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.lanjutButton {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.enabledButton {
  background-color: #dc2626; // merah
  color: #fff;
}

.enabledButton:hover {
  background-color: #b91c1c; // merah lebih gelap saat hover
}

.disabledButton {
  background-color: #d1d5db; // abu-abu (seperti Tailwind gray-300)
  color: #9ca3af; // teks abu-abu
  cursor: not-allowed;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 12px;

  button {
    padding: 8px 12px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    font-size: 14px;
  }
}

.pdfContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
