.container {
  font-family: "Arial", sans-serif;
  color: #333;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #4a7bbe;
  margin-bottom: 32px;

  span {
    display: block;
    font-weight: 600;
  }
}
.section {
  margin-bottom: 32px;
  border: 1px solid #eee;
  padding: 18px 25px;
  border-radius: 10px;
  .headerSection {
    p {
      margin: 0;
    }
    .docTitle {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .docSubtitle {
      font-size: 12px;
      font-weight: 500;
      color: #666;
    }
  }
}

.disabledPhase {
  opacity: 0.5;
  pointer-events: none;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h2 {
    font-size: 16px;
    font-weight: 600;
  }
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 12px;
}

.signerRow {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 12px 0;
  position: relative;
}

.leftLabel {
  min-width: 120px;
  label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
}

.rightInfo {
  flex: 1;

  strong {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #111;
  }

  p {
    font-size: 13px;
    color: #888;
    margin: 2px 0 0 0;
  }
}

.buttonInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.signButton {
  background: #4a7bbe;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 11px;
  cursor: pointer;
}

.disabledButton {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  background: #cccccc;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 11px;
  cursor: pointer;
  color: #ffffff;
}

.divider {
  border-bottom: 1px solid #eee;
}

.pdfContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 0;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 32px;
}

.backButton {
  width: 120px;
  border: 1px solid black;
  background: white;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.nextButton {
  background: #4a7bbe;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
