.selectBox {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.userDetail {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 12px;
  border-radius: 6px;
}
